.list-first
{
    border-top: 2px solid white;
    padding-top: 8px;
    background-color: aqua;
}
.list-last
{
    border-top: 2px solid white;
    padding-top: 5px;
    background-color: blanchedalmond;
}